@import 'tailwindcss';
@import 'tailwind-animations';

@plugin "./daisyui.js" {
  themes: lofi --default;
}
@plugin "./daisyui-theme.js" {
  name: "aikku";
  default: true;
  --color-base-100: #FAFAFA;
  --color-base-content: #1E1B18;
  --color-primary: #7030a0;
  --color-secondary: #46b1e1;
  --color-secondary-content: #000000;
  --color-neutral: #3d4451;
  --color-success: #00A96E;
  --color-accent: #6161b9;
  --color-info: #1f1f3d;
  --radius-field: 0rem;
}
@source "../../../public/*.html";
@source "../../../app/helpers/**/*.rb";
@source "../../../app/javascript/**/*.js";
@source "../../../app/views/**/*";


/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer components {
  input[required], select[required] {
    border-color: #f87171;
    &:valid{
      border-color: #22c55e;
    }
  }

  h2.apps-title {
    font-size: 2.25rem !important;
    line-height: 2.5rem !important;
    font-weight: 900 !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }

  h3.apps-title {
    font-size: 1.5rem !important;
    line-height: 2rem !important;
    font-weight: 900 !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }

  #guide_planning ul {
    padding: 40px 0px;
  }

  .section {
    main section {
      padding-left: 6rem;
      padding-right: 6rem;
    }
  }

  main section {
    padding: 2rem 1rem;
  }

  @media (min-width: 1024px) {
    main section {
      padding-left: 6rem;
      padding-right: 6rem;
    }
  }

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(24px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.reveal {
  opacity: 0;
  animation: reveal 0.8s ease-out forwards;
}

/* delays escalonados */
.delay-1 {
  animation-delay: 0.2s;
}

.delay-2 {
  animation-delay: 0.4s;
}

@keyframes waveMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.footer-wave {
  position: relative;
  width: 100%;
  height: 60px;
  overflow: hidden;
  margin-bottom: -2px;
}



.footer-wave svg {
  width: 200%;
  height: 60px;
  display: block;
  animation: waveMove 6s ease-in-out infinite;
  animation-direction: alternate;
}
.footer-wave path {
  shape-rendering: geometricPrecision;
}



}
