<% tag_cloud(@tags, %w(badge-sm badge badge-md badge-lg)) do |tag, css_class| %>
    <%= link_to url_for(params.permit!.merge(tag: tag.name)), data: { turbo_frame: "results_frame" }, class: "hidden lg:inline #{tag.name == params[:tag] ? "" : "hover-child-badge-primary" }" do %>
        <span class="inline-block align-bottom badge <%= css_class %> <%= tag.name == params[:tag] ? "badge-primary" : "badge-outline hover:badge-primary" %>">
            <span class=""><%= tag.name.humanize %></span>
            <% if params[:tag] == tag.name %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-4 h-4 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
            <% end %>
        </span>
    <% end %>
<% end %>