<section class="text-center">
  <h1 class="font-black text-5xl lg:text-6xl text-secondary mb-6 pt-8 italic">
    <%= title "Aikku COOPCOMM" %>
  </h1>
  <h2 class="text-lg xl:text-2xl px-6">
    <%= description "Vos données métier, en ligne et en mobilité" %>
  </h2>
</section>