<%= turbo_frame_tag "main_frame" do %>
  <section>
    <h1 class="font-black text-5xl lg:text-6xl text-center text-accent mb-6 pt-8 italic">
      <%= title "Clients" %>
    </h1>

    <%= turbo_frame_tag "results_frame" do %>
      <div class="my-6">
        <%= render(ClientComponent.with_collection(@clients))%>
      </div>
    <% end %>
  </section>
<% end %>