<section>
  <div class="text-center">
    <h1 class="font-black text-5xl lg:text-6xl text-accent mb-6 pt-8 italic">
      <%= title "Transform your ideas into realities" %>
    </h1>
    <h2 class="xl:text-2xl text-accent px-10 mb-6">
      (<%= description "But it all starts with a good discussion!" %>)
    </h2>
  </div>

  <div class="flex flex-wrap justify-center">
    <div class="w-full sm:w-1/2 lg:w-1/4 mt-20 text-center reveal">
      <i class="fa-brands fa-sketch fa-2xl text-accent"></i>
      <h3 class="font-black text-2xl mt-7">Development</h3>
      <p class="mt-7">We have been developing on Ruby on Rails since 2008. We would be delighted to help you.</p>
    </div>
    <div class="w-full sm:w-1/2 lg:w-1/4 mt-20 text-center reveal">
      <i class="fa-solid fa-desktop fa-2xl text-accent"></i>
      <h3 class="font-black text-2xl mt-7">UX/UI Design</h3>
      <p class="mt-7">We design reflected user experiences and can build functional prototypes.</p>
    </div>
    <div class="w-full sm:w-1/2 lg:w-1/4 mt-20 text-center reveal">
      <i class="fa-solid fa-wrench fa-2xl text-accent"></i>
      <h3 class="font-black text-2xl mt-7">Maintenance</h3>
      <p class="mt-7">We will keep your rails application up to date with the current features and bug corrections.</p>
    </div>
    <div class="w-full sm:w-1/2 lg:w-1/4 mt-20 text-center reveal">
      <i class="fa-solid fa-gears fa-2xl text-accent"></i>
      <h3 class="font-black text-2xl mt-7">Integration</h3>
      <p class="mt-7">Need to automate something, an exchange between two systems?We can probably help you!</p>
    </div>
  </div>

  <h2 class="font-black text-4xl text-accent mx-auto text-center mt-20">
    Our tailor-made software development process
  </h2>

  <p class="mt-10 mx-auto xl:text-2xl text-center reveal">
    We want to be part of your vision and we will guide you throughout the development course.
  </p>

  <div class="flex flex-wrap text-center sm:text-left">
    <div class="w-full sm:w-1/2 mt-16 reveal">
      <i class="fa-solid fa-magnifying-glass fa-2xl text-accent"></i>
      <h3 class="font-black text-2xl mt-7">
        1. Discover
      </h3>
      <p class="mt-7">
        We start by analyzing your idea and identifying your need.We assess the linked business process and the software environment in order to create the minimum viable product (MVP) which will serve as a basis for the development of your solution.
      </p>
    </div>
    <div class="w-full sm:w-1/2 mt-16 reveal">
      <i class="fa-solid fa-object-group fa-2xl text-accent"></i>
      <h3 class="font-black text-2xl mt-7">
        2. MVP (Minimum Viable Product)
      </h3>
      <p class="mt-7">
        From our platform, we create a MVP which will be the basis of step 3
      </p>
    </div>
    <div class="w-full sm:w-1/2 mt-16 reveal">
      <i class="fa-solid fa-code fa-2xl text-accent"></i>
      <h3 class="font-black text-2xl mt-7">
        3. Build
      </h3>
      <p class="mt-7">
        This is the agile phase.We start with a workshop on the MVP that will allow us to adapt it and refine it with user feedback.We will perform between 3 and 5 cycles to cover all the features.
      </p>
    </div>
    <div class="w-full sm:w-1/2 mt-16 reveal">
      <i class="fa-solid fa-wand-magic-sparkles fa-2xl text-accent"></i>
      <h3 class="font-black text-2xl mt-7">
        4. Deploy (Go Live)
      </h3>
      <p class="mt-7">
        Prepare the launch (users and administrators), inject data and documents from possible old systems and D -Day: providing end users.
      </p>
    </div>
    <div class="w-full sm:w-1/2 mt-16 reveal">
      <i class="fa-solid fa-rocket fa-2xl text-accent"></i>
      <h3 class="font-black text-2xl mt-7">
        5. Maintain the system and make it evolve
      </h3>
      <p class="mt-7">
        We support you in the production phase in order to support administrators and users and also to develop the system according to new needs in order to continue your work tool.
      </p>
    </div>
    <div class="w-full sm:w-1/2 mt-16 reveal">
      <i class="fa-solid fa-chart-line fa-2xl text-accent"></i>
      <h3 class="font-black text-2xl mt-7">
        6. Scaling
      </h3>
      <p class="mt-7">
        As you collect user comments and demand for your product increases, we will be there to help you implement new features and manage the servers.
      </p>
    </div>
  </div>

  <h2 class="font-black text-4xl text-accent mx-auto text-center mt-20 reveal">
    AI
  </h2>
  <p class="mt-10 mx-auto xl:text-2xl text-center reveal">
    Thanks to our platform, we are able to integrate the AI ​​you need, whether it is to integrate it into a PTO process within the platform or to use it as a Middleware for AI.
  </p>
</section>
