<section>
  <div class="text-center">
    <h1 class="font-black text-5xl lg:text-6xl text-accent mb-6 pt-8 italic">
      <%= title "Transformez vos idées en réalités" %>
    </h1>
    <h2 class="xl:text-2xl text-accent px-10 mb-6">
      (<%= description "mais tout commence par une bonne discussion !" %>)
    </h2>
  </div>

  <div class="flex flex-wrap justify-center">
    <div class="w-full sm:w-1/2 lg:w-1/4 mt-20 text-center reveal">
      <i class="fa-brands fa-sketch fa-2xl text-accent"></i>
      <h3 class="font-black text-2xl mt-7">Développement</h3>
      <p class="mt-7">Nous développons sur Ruby on Rails depuis 2008. Nous serions ravis de vous aider.</p>
    </div>
    <div class="w-full sm:w-1/2 lg:w-1/4 mt-20 text-center reveal">
      <i class="fa-solid fa-desktop fa-2xl text-accent"></i>
      <h3 class="font-black text-2xl mt-7">UX/UI Design</h3>
      <p class="mt-7">Nous concevons des expériences utilisateur réfléchies et pouvons construire des prototypes fonctionnels.</p>
    </div>
    <div class="w-full sm:w-1/2 lg:w-1/4 mt-20 text-center reveal">
      <i class="fa-solid fa-wrench fa-2xl text-accent"></i>
      <h3 class="font-black text-2xl mt-7">Maintenance</h3>
      <p class="mt-7">Nous garderons votre application Rails à jour avec les fonctionnalités en cours et les corrections de bogues.</p>
    </div>
    <div class="w-full sm:w-1/2 lg:w-1/4 mt-20 text-center reveal">
      <i class="fa-solid fa-gears fa-2xl text-accent"></i>
      <h3 class="font-black text-2xl mt-7">Intégration</h3>
      <p class="mt-7">Besoin d'automatiser quelque chose, un échange entre deux systèmes ? Nous pouvons probablement vous aider !</p>
    </div>
  </div>

  <h2 class="font-black text-4xl text-accent mx-auto text-center mt-20">
    Notre processus de développement de logiciels sur-mesure
  </h2>

  <p class="mt-10 mx-auto xl:text-2xl text-center reveal">
    Nous voulons faire partie de votre vision et nous vous guiderons tout au long du parcours de développement.
  </p>

  <div class="flex flex-wrap text-center sm:text-left">
    <div class="w-full sm:w-1/2 mt-16 reveal">
      <i class="fa-solid fa-magnifying-glass fa-2xl text-accent"></i>
      <h3 class="font-black text-2xl mt-7">
        1. Découverte
      </h3>
      <p class="mt-7">
        Nous commençons par étoffer votre idée et déterminer la portée et les coûts initiaux pour créer votre produit minimum viable (MVP), qui sera utilisé par les premiers clients.
      </p>
    </div>
    <div class="w-full sm:w-1/2 mt-16 reveal">
      <i class="fa-solid fa-object-group fa-2xl text-accent"></i>
      <h3 class="font-black text-2xl mt-7">
        2. MVP (Minimum Viable Product)
      </h3>
      <p class="mt-7">
        Le MVP fournit un prototype qui démontre les fonctionnalités de base et comment les utilisateurs interagiront avec votre logiciel.
      </p>
    </div>
    <div class="w-full sm:w-1/2 mt-16 reveal">
      <i class="fa-solid fa-code fa-2xl text-accent"></i>
      <h3 class="font-black text-2xl mt-7">
        3. Construire
      </h3>
      <p class="mt-7">
        De loin la phase la plus excitante, où votre application prend vie. 
        Nous vous tiendrons au courant quotidiennement des progrès et solliciterons régulièrement vos commentaires.
      </p>
    </div>
    <div class="w-full sm:w-1/2 mt-16 reveal">
      <i class="fa-solid fa-wand-magic-sparkles fa-2xl text-accent"></i>
      <h3 class="font-black text-2xl mt-7">
        4. Tester
      </h3>
      <p class="mt-7">
        Le test avec des utilisateurs finaux ont lieu afin de s'assurer que le produit répond aux besoins des utilisateurs. Si le test est concluant, nous passons à la phase de lancement, sinon nous revenons à la phase de construction.
      </p>
    </div>
    <div class="w-full sm:w-1/2 mt-16 reveal">
      <i class="fa-solid fa-rocket fa-2xl text-accent"></i>
      <h3 class="font-black text-2xl mt-7">
        5. Lancement
      </h3>
      <p class="mt-7">
        Ah, le jour du lancement. Tellement stimulant ! Il est temps de sortir le champagne et de célébrer la première sortie publique de votre incroyable idée ! Nous adorons vraiement ce moment.
      </p>
    </div>
    <div class="w-full sm:w-1/2 mt-16 reveal">
      <i class="fa-solid fa-chart-line fa-2xl text-accent"></i>
      <h3 class="font-black text-2xl mt-7">
        6. Changer d'échelle
      </h3>
      <p class="mt-7">
        Au fur et à mesure que vous recueillez les commentaires des utilisateurs et que la demande pour votre produit augmente, nous serons là pour vous aider à mettre en œuvre de nouvelles fonctionnalités et à gérer les serveurs.
      </p>
    </div>
  </div>

  <h2 class="font-black text-4xl text-accent mx-auto text-center mt-20 reveal">
    IA
  </h2>
  <p class="mt-10 mx-auto xl:text-2xl text-center reveal">
    Grâce à notre plateforme, nous sommes capables d’intégrer l’IA dont vous avez besoin, que ce soit pour l’intégrer dans un processus metier au sein de la plateforme ou d’utiliser celle-ci comme middleware pour IA.
  </p>
</section>
