/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html{
	scroll-padding-top: 72.25px;
}

body{
  font-family: 'Montserrat', sans-serif;
}

:root {
	--color_gradient_blue--end: #51c7fd;
	--color_gradient_purple--end: #b24dff;
}

.text-gradient {
	background-image: linear-gradient(to right, var(--color_gradient_blue--end), var(--color_gradient_purple--end)) !important;
	-webkit-text-fill-color: transparent !important;
	-webkit-background-clip: text !important;
	background-clip: text !important; 
}

/* .reveal{
  position: relative;
  transform: translateY(75px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
} */

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.hover-child-badge-primary:hover {
	.badge{
		background-color: hsl(var(--p)/var(--tw-bg-opacity));
    color: hsl(var(--pc)/var(--tw-text-opacity));
    border-color: hsl(var(--p)/var(--tw-border-opacity));
	}
}